In [2]:
#Import Packages: Pandas for Data Wrangling
import pandas as pd

In [3]:
#Read in and preview Recycling Diversion & Capture Rates csv file
recycling = pd.read_csv("~/Desktop/Springboard/Capstone Project 1/Data/Recycling_Diversion_and_Capture_Rates (2).csv")
recycling.head()

,Zone,District,Fiscal Month Number,Fiscal Year,Month Name,Diversion Rate-Total (Total Recycling / Total Waste),Capture Rate-Paper (Total Paper / Max Paper),Capture Rate-MGP (Total MGP / Max MGP),Capture Rate-Total ((Total Recycling - Leaves (Recycling)) / (Max Paper + Max MGP))x100
0,Brooklyn North,BKN01,10,2019,April,14.7,44.9,43.0,44.1
1,Brooklyn North,BKN02,10,2019,April,20.0,34.2,57.9,41.2
2,Brooklyn North,BKN03,10,2019,April,12.2,33.5,44.9,38.2
3,Brooklyn North,BKN04,10,2019,April,15.5,35.2,68.5,48.8
4,Brooklyn North,BKN05,10,2019,April,10.1,22.3,45.1,31.5

In [4]:
#Function to print the shape of 
def shape_df(df):
    print("This dataframe has {r} rows and {c} columns.".format(r = df.shape[0], c = df.shape[1]))

shape_df(recycling)

This dataframe has 2832 rows and 9 columns.

In [5]:
#Read in and Preview Community District Indicators Data 
districts_raw = pd.read_csv("/Users/varunraja/Desktop/Springboard/Capstone Project 1/Data/Bronx-7-indicators.csv")
districts_raw.head()

,the_geom,lots_parking,the_geom_webmercator,acres,acs_tooltip,acs_tooltip_2,acs_tooltip_3,area_sqmi,borocd,cb_email,...,son_issue_1,son_issue_2,son_issue_3,total_lot_area,under18_rate,under18_rate_boro,under18_rate_nyc,unemployment_boro,unemployment_cd,unemployment_nyc
0,NaN,23,NaN,976.3,American Community Survey 2013-2017 5-Year Est...,American Community Survey (ACS) 2013-2017 5-ye...,2010 Census population counts for floodplain a...,1.5,101,man01@cb.nyc.gov,...,Resiliency,Traffic,Other,36115322,12.8,14.5,21,4.2,2.8,4.9
1,NaN,52,NaN,865.9,American Community Survey 2013-2017 5-Year Est...,American Community Survey (ACS) 2013-2017 5-ye...,2010 Census population counts for floodplain a...,1.4,102,bgormley@cb.nyc.gov,...,Affordable housing,Parks,Schools,25696432,12.8,14.5,21,4.2,2.8,4.9
2,NaN,57,NaN,1076.9,American Community Survey 2013-2017 5-Year Est...,American Community Survey (ACS) 2013-2017 5-ye...,2010 Census population counts for floodplain a...,1.7,103,info@cb3manhattan.org,...,Affordable housing,Senior services,Other,33692052,11.7,14.5,21,4.2,4.1,4.9
3,NaN,77,NaN,1131.6,American Community Survey 2013-2017 5-Year Est...,American Community Survey (ACS) 2013-2017 5-ye...,2010 Census population counts for floodplain a...,1.8,104,jbodine@cb.nyc.gov,...,Affordable housing,Neighborhood preservation (development trends),Traffic,38177268,8.2,14.5,21,4.2,3.7,4.9
4,NaN,39,NaN,1005.4,American Community Survey 2013-2017 5-Year Est...,American Community Survey (ACS) 2013-2017 5-ye...,2010 Census population counts for floodplain a...,1.6,105,office@cb5.org,...,Affordable housing,Social services (including services for the ho...,Transit (buses & subways),28192622,8.2,14.5,21,4.2,3.7,4.9

In [6]:
shape_df(districts_raw)

This dataframe has 59 rows and 184 columns.

In [7]:
#Replace any blank values in dataframe with zero as dataset indicates these are zero based on percentages adding up to 100
districts_raw.fillna(0, inplace=True)

In [8]:
#Update community indicators dataframe with only specified columns that are useful - create new dataframe called 'districts_filtered' with these
indicator_columns = ['cd_short_title', 'puma', 'area_sqmi', 'pop_2010', 'poverty_rate', 'pct_bach_deg', 'unemployment_cd', 'mean_commute', 'pct_hh_rent_burd', 'pct_clean_strts', 'crime_per_1000', 'count_parks', 'count_hosp_clinic', 'count_libraries', 'count_public_schools', 'pct_foreign_born', 'lep_rate', 'under18_rate', 'male_under_5', 'female_under_5', 'male_5_9', 'female_5_9', 'male_10_14', 'female_10_14', 'male_15_19', 'female_15_19', 'male_20_24', 'female_20_24', 'male_25_29', 'female_25_29', 'male_30_34', 'female_30_34', 'male_35_39', 'female_35_39', 'male_40_44', 'female_40_44', 'male_45_49', 'female_45_49', 'male_50_54', 'female_50_54', 'male_55_59', 'female_55_59', 'male_60_64', 'female_60_64', 'male_65_69', 'female_65_69', 'male_70_74', 'female_70_74', 'male_75_79', 'female_75_79', 'male_80_84', 'female_80_84', 'male_85_over', 'female_85_over', 'pct_white_nh', 'pct_black_nh', 'pct_asian_nh', 'pct_other_nh', 'pct_hispanic', 'fp_100_pop']
districts = districts_raw.loc[:, indicator_columns]
shape_df(districts)

This dataframe has 59 rows and 60 columns.

In [9]:
#Create column with percentage of Male and Female by summing the total percentages of Males and Females across all age groups
districts['female_total'] = districts['female_under_5'] + districts['female_5_9'] + districts['female_10_14'] + districts['female_15_19'] + districts['female_20_24'] + districts['female_25_29'] + districts['female_30_34'] + districts['female_35_39'] + districts['female_40_44'] + districts['female_45_49'] + districts['female_50_54'] + districts['female_55_59'] + districts['female_60_64'] + districts['female_65_69'] + districts['female_70_74'] + districts['female_75_79'] + districts['female_80_84'] + districts['female_85_over']
districts['male_total'] = districts['male_under_5'] + districts['male_5_9'] + districts['male_10_14'] + districts['male_15_19'] + districts['male_20_24'] + districts['male_25_29'] + districts['male_30_34'] + districts['male_35_39'] + districts['male_40_44'] + districts['male_45_49'] + districts['male_50_54'] + districts['male_55_59'] + districts['male_60_64'] + districts['male_65_69'] + districts['male_70_74'] + districts['male_75_79'] + districts['male_80_84'] + districts['male_85_over']

In [10]:
#Create column with percentage of Age groups (0-20, 20-40, 40-59, 60+) by summing age groups across Male and Female classifiers
districts['minors_under20'] = districts['female_under_5'] + districts['female_5_9'] + districts['female_10_14'] + districts['female_15_19'] + districts['male_under_5'] + districts['male_5_9'] + districts['male_10_14'] + districts['male_15_19'] 
districts['youngadults_20-39'] = districts['female_20_24'] + districts['female_25_29'] + districts['female_30_34'] + districts['female_35_39'] + districts['male_20_24'] + districts['male_25_29'] + districts['male_30_34'] + districts['male_35_39']
districts['middleaged_40-59'] = districts['female_40_44'] + districts['female_45_49'] + districts['female_50_54'] + districts['female_55_59'] + districts['male_40_44'] + districts['male_45_49'] + districts['male_50_54'] + districts['male_55_59']
districts['senior_over60'] = districts['female_60_64'] + districts['female_65_69'] + districts['female_70_74'] + districts['female_75_79'] + districts['female_80_84'] + districts['female_85_over'] + districts['male_60_64'] + districts['male_65_69'] + districts['male_70_74'] + districts['male_75_79'] + districts['male_80_84'] + districts['male_85_over']

In [11]:
#Standardize the Community District Keys in both the 'recycling' dataframe and 'districts_filtered' dataframe in order to merge on new key
#First create dictionaries to match values in each dataframe with a standardized key that will later be used to join
recycling_dict = {'BKN01':'Brooklyn-01', 'BKN02':'Brooklyn-02', 'BKN03':'Brooklyn-03', 'BKN04':'Brooklyn-04', 'BKN05':'Brooklyn-05', 'BKS06':'Brooklyn-06', 'BKS07':'Brooklyn-07', 'BKN08':'Brooklyn-08', 'BKN09':'Brooklyn-09', 'BKS10':'Brooklyn-10', 'BKS11':'Brooklyn-11', 'BKS12':'Brooklyn-12', 'BKS13':'Brooklyn-13', 'BKS14':'Brooklyn-14', 'BKS15':'Brooklyn-15', 'BKN16':'Brooklyn-16', 'BKN17':'Brooklyn-17', 'BKS18':'Brooklyn-18', 'BX01':'Bronx-01', 'BX02':'Bronx-02', 'BX03':'Bronx-03', 'BX04':'Bronx-04', 'BX05':'Bronx-05', 'BX06':'Bronx-06', 'BX07':'Bronx-07', 'BX08':'Bronx-08', 'BX09':'Bronx-09', 'BX10':'Bronx-10', 'BX11':'Bronx 11', 'BX12':'Bronx 12', 'MN01':'Manhattan-01', 'MN02':'Manhattan-02', 'MN03':'Manhattan-03', 'MN04':'Manhattan-04', 'MN05':'Manhattan-05', 'MN06':'Manhattan-06', 'MN07':'Manhattan-07', 'MN08':'Manhattan-08', 'MN09':'Manhattan-09', 'MN10':'Manhattan-10', 'MN11':'Manhattan-11', 'MN12':'Manhattan-12', 'QW01':'Queens-01', 'QW02':'Queens-02', 'QW03':'Queens-03', 'QW04':'Queens-04', 'QW05':'Queens-05', 'QW06':'Queens-06', 'QE07':'Queens-07', 'QE08':'Queens-08', 'QW09':'Queens-09', 'QE10':'Queens-10', 'QE11':'Queens-11', 'QE12':'Queens-12', 'QE13':'Queens-13', 'QE14':'Queens-14', 'SI01':'Staten_Island-01', 'SI02':'Staten_Island-02', 'SI03':'Staten_Island-03'}
district_dict = {'Brooklyn CD 1':'Brooklyn-01', 'Brooklyn CD 2':'Brooklyn-02', 'Brooklyn CD 3':'Brooklyn-03', 'Brooklyn CD 4':'Brooklyn-04', 'Brooklyn CD 5':'Brooklyn-05', 'Brooklyn CD 6':'Brooklyn-06', 'Brooklyn CD 7':'Brooklyn-07', 'Brooklyn CD 8':'Brooklyn-08', 'Brooklyn CD 9':'Brooklyn-09', 'Brooklyn CD 10':'Brooklyn-10', 'Brooklyn CD 11':'Brooklyn-11', 'Brooklyn CD 12':'Brooklyn-12', 'Brooklyn CD 13':'Brooklyn-13', 'Brooklyn CD 14':'Brooklyn-14', 'Brooklyn CD 15':'Brooklyn-15', 'Brooklyn CD 16':'Brooklyn-16', 'Brooklyn CD 17':'Brooklyn-17', 'Brooklyn CD 18':'Brooklyn-18', 'Bronx CD 1':'Bronx-01', 'Bronx CD 2':'Bronx-02', 'Bronx CD 3':'Bronx-03', 'Bronx CD 4':'Bronx-04', 'Bronx CD 5':'Bronx-05', 'Bronx CD 6':'Bronx-06', 'Bronx CD 7':'Bronx-07', 'Bronx CD 8':'Bronx-08', 'Bronx CD 9':'Bronx-09', 'Bronx CD 10':'Bronx-10', 'Bronx CD 11':'Bronx 11', 'Bronx CD 12':'Bronx 12', 'Manhattan CD 1':'Manhattan-01', 'Manhattan CD 2':'Manhattan-02', 'Manhattan CD 3':'Manhattan-03', 'Manhattan CD 4':'Manhattan-04', 'Manhattan CD 5':'Manhattan-05', 'Manhattan CD 6':'Manhattan-06', 'Manhattan CD 7':'Manhattan-07', 'Manhattan CD 8':'Manhattan-08', 'Manhattan CD 9':'Manhattan-09', 'Manhattan CD 10':'Manhattan-10', 'Manhattan CD 11':'Manhattan-11', 'Manhattan CD 12':'Manhattan-12', 'Queens CD 1':'Queens-01', 'Queens CD 2':'Queens-02', 'Queens CD 3':'Queens-03', 'Queens CD 4':'Queens-04', 'Queens CD 5':'Queens-05', 'Queens CD 6':'Queens-06', 'Queens CD 7':'Queens-07', 'Queens CD 8':'Queens-08', 'Queens CD 9':'Queens-09', 'Queens CD 10':'Queens-10', 'Queens CD 11':'Queens-11', 'Queens CD 12':'Queens-12', 'Queens CD 13':'Queens-13', 'Queens CD 14':'Queens-14', 'Staten Island CD 1':'Staten_Island-01', 'Staten Island CD 2':'Staten_Island-02', 'Staten Island CD 3':'Staten_Island-03'}

In [12]:
#Update dataframes with new column including standardized key to join called "District_Join"
recycling['District_Join']= recycling['District'].map(recycling_dict)
districts['District_Join']= districts['cd_short_title'].map(district_dict)

In [13]:
#Move new column "District_Join" to front of both dataframes for increased readability
recycling = recycling[['District_Join', 'Zone', 'District', 'Fiscal Month Number', 'Fiscal Year', 'Month Name',
       'Diversion Rate-Total (Total Recycling / Total Waste)',
       'Capture Rate-Paper (Total Paper / Max Paper)',
       'Capture Rate-MGP (Total MGP / Max MGP)',
       'Capture Rate-Total ((Total Recycling - Leaves (Recycling)) / (Max Paper + Max MGP))x100']]

districts = districts[['District_Join', 'cd_short_title', 'puma', 'area_sqmi', 'pop_2010', 'poverty_rate',
       'pct_bach_deg', 'unemployment_cd', 'mean_commute', 'pct_hh_rent_burd',
       'pct_clean_strts', 'crime_per_1000', 'count_parks', 'count_hosp_clinic',
       'count_libraries', 'count_public_schools', 'pct_foreign_born',
       'lep_rate', 'under18_rate', 'male_under_5', 'female_under_5',
       'male_5_9', 'female_5_9', 'male_10_14', 'female_10_14', 'male_15_19',
       'female_15_19', 'male_20_24', 'female_20_24', 'male_25_29',
       'female_25_29', 'male_30_34', 'female_30_34', 'male_35_39',
       'female_35_39', 'male_40_44', 'female_40_44', 'male_45_49',
       'female_45_49', 'male_50_54', 'female_50_54', 'male_55_59',
       'female_55_59', 'male_60_64', 'female_60_64', 'male_65_69',
       'female_65_69', 'male_70_74', 'female_70_74', 'male_75_79',
       'female_75_79', 'male_80_84', 'female_80_84', 'male_85_over',
       'female_85_over', 'pct_white_nh', 'pct_black_nh', 'pct_asian_nh',
       'pct_other_nh', 'pct_hispanic', 'fp_100_pop', 'female_total',
       'male_total', 'minors_under20', 'youngadults_20-39', 'middleaged_40-59',
       'senior_over60']]

In [14]:
#Merge the Recyling Rate and District Info Tables
recycling_districts = pd.merge(recycling, districts, on='District_Join')
recycling_districts.head()

,District_Join,Zone,District,Fiscal Month Number,Fiscal Year,Month Name,Diversion Rate-Total (Total Recycling / Total Waste),Capture Rate-Paper (Total Paper / Max Paper),Capture Rate-MGP (Total MGP / Max MGP),Capture Rate-Total ((Total Recycling - Leaves (Recycling)) / (Max Paper + Max MGP))x100,...,pct_asian_nh,pct_other_nh,pct_hispanic,fp_100_pop,female_total,male_total,minors_under20,youngadults_20-39,middleaged_40-59,senior_over60
0,Brooklyn-01,Brooklyn North,BKN01,10,2019,April,14.7,44.9,43.0,44.1,...,7.5,2.1,23.0,3397,50.8,49.4,22.9,44.5,18.8,14.0
1,Brooklyn-01,Brooklyn North,BKN01,2,2019,August,16.6,51.2,44.8,48.3,...,7.5,2.1,23.0,3397,50.8,49.4,22.9,44.5,18.8,14.0
2,Brooklyn-01,Brooklyn North,BKN01,6,2019,December,16.5,52.3,46.8,50.0,...,7.5,2.1,23.0,3397,50.8,49.4,22.9,44.5,18.8,14.0
3,Brooklyn-01,Brooklyn North,BKN01,8,2019,February,15.9,48.3,48.2,48.2,...,7.5,2.1,23.0,3397,50.8,49.4,22.9,44.5,18.8,14.0
4,Brooklyn-01,Brooklyn North,BKN01,7,2019,January,17.1,49.9,52.0,50.7,...,7.5,2.1,23.0,3397,50.8,49.4,22.9,44.5,18.8,14.0

In [15]:
shape_df(recycling_districts)

This dataframe has 2832 rows and 76 columns.

In [16]:
#recycling_districts.to_excel('check.xlsx')

In [17]:
#Aggregate the years column to take the monthly rows for each community district per year and find the mean rates
df = recycling_districts.groupby(['District_Join', 'Fiscal Year', 'Zone'], as_index=False).aggregate('mean')

In [18]:
shape_df(df)

This dataframe has 236 rows and 73 columns.

In [19]:
#Create new dataframe out of recycling data from fiscal year 2016 since it is closest to the time-frame of districts data
df_2016 = df[df['Fiscal Year'] == 2016]
df_2016.head()

,District_Join,Fiscal Year,Zone,Fiscal Month Number,Diversion Rate-Total (Total Recycling / Total Waste),Capture Rate-Paper (Total Paper / Max Paper),Capture Rate-MGP (Total MGP / Max MGP),Capture Rate-Total ((Total Recycling - Leaves (Recycling)) / (Max Paper + Max MGP))x100,puma,area_sqmi,...,pct_asian_nh,pct_other_nh,pct_hispanic,fp_100_pop,female_total,male_total,minors_under20,youngadults_20-39,middleaged_40-59,senior_over60
0,Bronx 11,2016,Bronx,6.5,14.166667,35.033333,53.450000,41.750000,3704.0,3.6,...,8.0,2.2,46.7,296.0,52.0,48.1,24.8,29.8,25.9,19.6
4,Bronx 12,2016,Bronx,6.5,16.175000,33.950000,71.833333,47.808333,3702.0,5.6,...,3.1,2.3,22.9,40.0,54.4,45.9,25.2,29.0,27.5,18.6
8,Bronx-01,2016,Bronx,6.5,6.450000,18.866667,23.850000,21.058333,3710.0,2.2,...,0.6,1.2,67.5,580.0,50.2,49.7,31.6,33.3,22.7,12.3
12,Bronx-02,2016,Bronx,6.5,12.225000,32.050000,49.800000,39.850000,3710.0,2.2,...,0.6,1.2,67.5,848.0,50.2,49.7,31.6,33.3,22.7,12.3
16,Bronx-03,2016,Bronx,6.5,9.266667,25.683333,36.125000,30.283333,3705.0,1.6,...,0.9,1.1,63.3,0.0,53.6,46.6,32.8,31.2,23.3,12.9

In [20]:
shape_df(df_2016)

This dataframe has 59 rows and 73 columns.

In [21]:
#Combine Brooklyn and Queens split Zones into one in order to later visualize across boroughs
df['Zone'].replace({'Brooklyn North': 'Brooklyn', 'Brooklyn South': 'Brooklyn', 'Queens West': 'Queens', 'Queens East': 'Queens'}, inplace=True)
df_2016['Zone'].replace({'Brooklyn North': 'Brooklyn', 'Brooklyn South': 'Brooklyn', 'Queens West': 'Queens', 'Queens East': 'Queens'}, inplace=True)

/Users/varunraja/anaconda3/lib/python3.6/site-packages/pandas/core/generic.py:6786: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [22]:
#Delete unnessecary columns - Fiscal Month Number
del df['Fiscal Month Number']
del df_2016['Fiscal Month Number']

In [23]:
shape_df(df), shape_df(df_2016)

This dataframe has 236 rows and 72 columns.
This dataframe has 59 rows and 72 columns.

(None, None)

In [24]:
#Aggregate monthly data across boroughs in order to graph data across time in data story
df_month = recycling_districts.groupby(['Fiscal Month Number', 'Fiscal Year'], as_index=False).aggregate('mean')
df_month['FullDate'] = df_month['Fiscal Month Number'].astype(str) + df_month['Fiscal Year'].astype(str)
df_month['Fiscal Month Number'] = pd.to_numeric(df_month['Fiscal Month Number'])
df_month['Fiscal Year'] = pd.to_numeric(df_month['Fiscal Year'])
df_month['FullDate'] = pd.to_numeric(df_month['FullDate'])
df_month['Index'] = range(0, len(df_month))

In [25]:
#Save dataframes as CSV in order to use in Data Story and ML notebooks
df_2016.to_csv('recycling_districts_2016')
df.to_csv('recycling_districts_all')
df_month.to_csv('recycling_districts_monthly')